---
title: Ben Hulse
---

<div id="wrap">
  <h1 id="loop-wrap">
    <a id="link-logo" href="#" title="Ben Hulse">Ben Hulse</a>
  </h1>
  <ul id="nav">
    <li class="nav-item">
      <a id="nav-design" href="#" class="nav-item-text" title="Design">Design</a>
    </li>
    <li class="nav-item">
      <a id="nav-photography" href="#" class="nav-item-text" title="Photography">Photography</a>
    </li>
    <li class="nav-item">
      <a id="nav-music" href="#" class="nav-item-text" title="Music">Music</a>
    </li>
    <li class="nav-item">
      <a id="nav-about" href="#" class="nav-item-text" title="About Ben Hulse">About Ben Hulse</a>
    </li>
  </ul>
  <div id="copyright">&copy; 2011 Ben Hulse</div>
  <div id="showarea">
    <% i = 0 %>
    <% data.artworks.each do |artwork| %>
    <%   i = i + 1 %>
    <%   extraClass = "" %>
    <%   if ((i + 1) % 4 == 1) then extraClass = "artwork-rightmost-showbox" end %>
    <div class="artwork-showbox <%= extraClass %>">
      <a class="artwork-clip-link" href="#" title="<%= artwork[1] %>">
        <img src="<%= artwork[0] %>" alt="<%= artwork[1] %>" class="artwork-clip" />
      </a>
      <h3 class="artwork-title">
        <a id="link-artwork-title" href="#" title="<%= artwork[1] %>"><%= artwork[1] %></a>
      </h3>
      <p class="artwork-categories"><%= artwork[2] %></p>
    </div>
    <% end %>
  </div>
</div>
